<div class="credits">

  <h2>Credits</h2>

  <div class="entry">
  	Reporters
    <br>Karen de Sá &bull; <a href="mailto:KdeSa@sfchronicle.com">KdeSa@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/KarendeSa1" target="_blank">@KarendeSa1</a>
    <br>Cynthia Dzikes &bull; <a href="mailto:CDizikes@sfchronicle.com">CDizikes@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/cdizikes" target="_blank">@cdizikes</a>
    <br>Joaquin Palomino &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a>
  </div>

  <div class="entry">
  	Developers<br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  	<br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
  </div>


  <div class="entry">Editors
    <br>Michael Gray  &bull; <a href="mailto:mgray@sfchronicle.com">mgray@sfchronicle.com</a>
    <br>Nicole Frugé  &bull; <a href="mailto:NFruge@sfchronicle.com">nfruge@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/PhotoFruge" target="_blank">@PhotoFruge</a>
    <br>Fernando Diaz  &bull; <a href="mailto:fdiaz@sfchronicle.com">fdiaz@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/thefuturewasnow" target="_blank">@thefuturewasnow</a>
  </div>

</div>
