<div class="credits">

  <h2>Credits</h2>

  <div class="entry">
  	Reporters
    <br>Karen de Sá &bull; <a href="mailto:kdesa@sfchronicle.com">kdesa@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/KarendeSa1" target="_blank">@karendesa1</a>

    <br>Joaquin Palomino &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@joaquinpalomino</a>

    <br>Cynthia Dizikes &bull; <a href="mailto:CDizikes@sfchronicle.com">cdizikes@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/cdizikes" target="_blank">@cdizikes</a>
  </div>

  <div class="entry">
    Multimedia

    <br>Leah Millis &bull; <a href="mailto:lmillis@sfchronicle.com">lmillis@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/LeahMillis" target="_blank">@leahmillis</a>

    <br>Ilana Panich-Linsman &bull; <a href = "https://twitter.com/IlanaPL" target="_blank">@ilanapl</a>

    <br>Kat Duncan &bull; <a href="mailto:kduncan@sfchronicle.com">kduncan@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/KatDuncanPhoto" target="_blank">@katduncanphoto</a>

    <br>Santiago Mejia &bull; <a href="mailto:smejia@sfchronicle.com">smejia@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/SantiagoMejia" target="_blank">@santiagomejia</a>

    <br>Guy Wathen &bull; <a href="mailto:gwathen@sfchronicle.com">gwathen@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/GuyWathen" target="_blank">@guywathen</a>
  </div>

  <div class="entry">
    Graphics
    <br>Todd Trumbull &bull; <a href="mailto:TTrumbull@sfchronicle.com">ttrumbull@sfchronicle.com</a>
  </div>

  <div class="entry">
  	Developers
  	<br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
    <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  </div>


  <div class="entry">
    Copy editors
    <br>Kurt Aguilar  &bull; <a href="mailto:kaguilar@sfchronicle.com">kaguilar@sfchronicle.com</a>

    <br>Warren Pederson  &bull; <a href="mailto:WPederson@sfchronicle.com">wpederson@sfchronicle.com</a>
  </div>




  <div class="entry">Editors
    <br>Michael Gray  &bull; <a href="mailto:mgray@sfchronicle.com">mgray@sfchronicle.com</a>
    <br>Nicole Frugé  &bull; <a href="mailto:NFruge@sfchronicle.com">nfruge@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/PhotoFruge" target="_blank">@photofruge</a>
    <br>Danielle Mollette-Parks &bull; <a href="mailto:DMollette-Parks@sfchronicle.com">dmollette-parks@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/daniellemparks" target="_blank">@daniellemparks</a>
    <br>Fernando Diaz  &bull; <a href="mailto:fdiaz@sfchronicle.com">fdiaz@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/thefuturewasnow" target="_blank">@thefuturewasnow</a>
  </div>

</div>
