@red: lighten(#66101F,5%);
@lavender: 	#606293;
@lightest-gray: #F2F2F2;
@orange: #782E20;//#DB7B37;

.title-image {
  width: 100%;
  img {
    width: 100%;
  }
  background: white;
}

.divider {
  padding-top:50px;
  width: 60%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
}

.slide-top {

  opacity: 1.0;

  &.active {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
  }

}

.audio-slide {
  background: black;
}
.quote-slide, .report-slide, .photo-slide {
  background: white;
}
.gif-slide {
  background: darken(@orange,10%);
}

.graphic-img {
  max-width: 900px;
  margin: auto;
  position: relative;
  img {
    width: 100%;
  }
  .graphics-text {
    position: absolute;
    top: 12%;
    left: 17%;
    color: white;
    font-size: 16px;
    font-family: @bold-graphics;
    max-width: 130px !important;
  }
}

.slide {
  position: relative;
  // max-width: 800px;
  padding: 100px 0;
  &.interactive-slide {
    padding: 200px 0;
  }
  &.text-slide {
    background: white;
    padding: 100px 0;
  }
  &.map-slide {
    padding: 200px 0 0 0;
    // background: white;
    height: 700px;
  }
  &.report-slide {
    padding: 100px 0;
  }
  &.quote-slide {
    padding: 50px 0;
  }
  &.fixed-height-slide {
    height: 800px;
  }
  &.gif-slide, &.audio-slide {
    padding: 0;
    margin: 100px auto;
  }
  // background: white;
  margin: auto;
  text-align: center;
  @media @tablet-horiz {
    padding: 100px 30px 0px 30px;
  }
  @media @tablet {
    padding: 50px 30px;
  }
  .text {
    max-width: 800px;
    margin: auto;
    &.float-left {
      max-width: 400px;
      margin-left: 5%;
      z-index: 1;
      @media @tablet-horiz {
        max-width: 800px;
        margin: auto;
      }
      // padding-top: 200px;
    }
    &.flex-left {
      padding: 0 0 200px 0;
    }
    .bold {
      font-size: 40px;
      font-family: @boldest-graphics;
      color: @light-gray;
      &.boldColor {
        color: @orange;
        -webkit-transition: color 800ms ease-in;
        -moz-transition: color 800ms ease-in;
        -ms-transition: color 800ms ease-in;
        -o-transition: color 800ms ease-in;
        transition: color 800ms ease-in;
      }
    }
    &.audio-text {
      color: white;
      font-family: @bold-graphics;
      font-size: 25px;
      padding-bottom: 40px;
      max-width: 400px;
    }
    &.gif-text {
      max-width: 400px;
      color: white;
    }
  }
}

.soundcite {
  cursor: pointer;
  // font-style: italic;
  padding-top: 20px !important;
  font-family: @med-graphics;
  // text-transform: capitalize;
  font-size: 18px;
  .fa {
    padding-right: 10px;
  }
}

.slide-hed {
  max-width: 800px;
  // font-size: 22px;
  margin: auto;
  text-align: center;
  font-family: @med-graphics;
  padding-bottom: 40px;
  color: @orange;
  // text-transform: uppercase;
}

.slide {
  .display-flex;
  .flex-wrap(wrap);
  .flex-left {
    width: 40%;
    padding-top: 50px;
    margin-right: 0;
    .flex(0 0 40%);
    &.fixedText {
      padding-top: 50px;
      width: 40%;
      margin-right: 55%;
      // margin-left: 5%;
    }
    // margin-right: 55%;
  }
  #icons-arrests, #icons-pursued, #icons-bookings, #icons-probation, #bubbles, #bubbles-v2, #bubbles-v3 {
    width: 40%;
    margin-left: 5%;
    .flex(0 0 50%);
    // padding: 600px 0;
  }
}

.interactive {
  // display: none;
  position: relative;
  width: 50%;
  display: inline-block;
  opacity: 0;
  &.fixedInteractive {
    // display: block;
    position: fixed;
    opacity: 1;

    top: 100px;
    z-index: -20;
    left: 50%;
  }
}

.quote {
  background: white;
  // background: darken(@orange,10%);//@dark-gray;
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  position: relative;
  max-width: 900px;
  margin: auto;
  // color: white;
  // height: 300px;
  @media @mobile {
    font-size: 20px;
  }
  .quote-text {
    margin-left: 70px;
    display:inline-block;
    padding-top: 30px;
    width: 85%;
  }
  .huge-quote {
    position: absolute;
    top: 0;
    left: -10px;
    padding-right: 30px;
    line-height:1;
    font-family: @body;
    font-size: 200px;
    color: darken(@orange,10%);
    // color: white;//@orange;
    // float: left;
    height: 80px;
    width: 120px;
    @media @mobile {
      font-size: 150px;
    }
  }
  .small-quote {
    font-family: @body;
    color: darken(@orange,10%);
    // color: white;//@orange;
  }
  .quote-author {
    text-align: right;
    font-size: 16px;
    padding-top: 40px;
  }
}

.icon-container {
  padding-top: 40px;
  max-width: 900px;
  margin: auto;
  vertical-align: center;
  .display-flex;
  .flex-wrap(wrap);
  align-items: center;
  @media @mobile {
    width: 95%;
  }
  .icon-arrests, .icon-bookings, .icon-pursued, .icon-probation {
    .flex(0 0 0 4%);
    font-size: 25px;
    @media @mobile {
      font-size: 12px;
    }
    // display: inline-block;
    color: @light-gray;
    // -webkit-transition: color 1000ms linear;
    // -ms-transition: color 1000ms linear;
    // transition: color 1000ms linear;
    padding: 0 4px;
    &.dark, &.show {
      color: lighten(@orange,10%);
    }
    &.active {
      color: darken(@orange,15%);
    }
    &.hide {
      visibility: hidden;
    }
  }
}

.title-container {
  position: absolute;
  top: 350px;
  padding-left: 30px;
  color: white;
  text-align: left;

  @media @tablet {
    position: relative;
    color: darken(@orange,10%);
    text-align: center;
    top: 0;
  }
}

.social-wrapper {
  // position: absolute;
  .link {
    float: none !important;
  }
  padding: 10px;
  // text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 10;
  display: none;
  @media @mobile {
    position: relative;
    padding-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    float: center;
    margin: auto;
    // left: 35%;
  }
  &.show {
    display: block;
  }
  .link {
    @media @tablet {
      float: none !important;
    }
    &:hover {
      color: @light-gray !important;
    }
    a {
      font-size: 20px;
      color: white;
      @media @tablet {
        color: darken(@orange,10%);
      }
      padding: 0 5px;
      :hover {
        color: @light-gray !important;
      }
      @media @mobile {
        font-size: 20px;
        color: @dark-gray;
      }
    }
  }
}


svg {
  pointer-events: all;
}

#map-v2 {
  z-index: -20;
}
#map {
  z-index: -10;
}

.map {
  opacity: 0;
  // visibility: hidden;
  &.fixedMap {
    // visibility: visible;
    // display: block;
    position: fixed !important;
    opacity: 1;
    top: 0;
    margin-top: 0 !important;
    // z-index: -20;
    // left: 50%;
  }
}
#map, #map-v2 {
  pointer-events: all;
  width: 100%;
  height: 700px;
  // width: 80%;
  // height: 760px;
  margin: auto;
  margin-top: -300px;
  // z-index: -10;
  @media @tablet-horiz {
    width: 100%;
    margin-top: 20px;
  }
  @media @mobile {
    height: 300px;
    margin: auto;
    top: 220px;
  }
  .leaflet-tile-pane {
    opacity: 0.7;
  }
}

.tooltip-map, .tooltip-bubbles, .tooltip-bars, .tooltip-dots {
  width: 300px;
  position: absolute;
  font-family: @block-graphics;
  font-size: 14px;
  background: white;
  padding: 5px 10px;
  border: @light-gray 1px solid;
  visibility: hidden;
  z-index:40;
  // @media @mobile {
  //   display: none;
  // }
  .bold {
    font-family: @med-graphics;
  }
  .desc {
    font-size: 14px;
    padding-top: 10px;
  }
  &:empty {
    display: none;
  }
}
