<!doctype html>
<html>
  <head>
    <title><%= json.data_page.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_analytics-datapage.html") %>
    <%= t.include("partials/_head-data.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_data-nav.html") %>


    <div id="mainbar">

      <div class="text-container">
        <h1>How the investigation was done</h1>
        <hr>

        <% json.shelters_digital['data'].forEach(function(text) { %>

          <% if ( text.type == 'text' ){ %>
          
            <p><%= text.value %></p>

            <% } else if ( text.type == 'infobox' ){  %>

              <%= t.include("partials/_storybox.html") %>

          <% } %>
          
        <% }); %>
        <p class="authors">— <a href="http://www.sfchronicle.com/author/karen-de-sa/" target="_blank">Karen de Sá</a>, <a href="http://www.sfchronicle.com/author/joaquin-palomino/" target="_blank">Joaquin Palomino</a> and <a href="http://www.sfchronicle.com/author/cynthia-dizikes/" target="_blank">Cynthia Dizikes</a></p>

      </div>

<!-- 
<%= t.include("partials/_storybox.html") %> -->

    <%= t.include("partials/_share.html") %>
    <%= t.include("partials/_footer.html") %>

    <script src="../main.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
