<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet-src.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flickity@2/dist/flickity.css">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>


    <div id="mainbar">

      <div class="top-image">
        <div class="background-img">
          <video id="looper" class="show-for-large" poster="" loop autoplay muted>
            <source src="./assets/videos/bird.mov" type="video/mp4" >
            Your browser does not support the <code>video</code> element.
          </video>
          <img class="main-gif" src="./assets/gifs/bird.gif">
          <div class="over-img">
          <div class="specialhead-top overline">Chronicle Investigation: Fostering Failure</div>
            <h1 class="title">Dubious arrests, damaged lives</h1>
            <p class="deck">State shelters criminalize hundreds of children</p>
            <p class="date">May 20, 2017 | By Karen de Sá, Joaquin Palomino and Cynthia Dizikes</p>
          </div>
        </div>
      </div>


      <div class="json-wrapper">

      <% json.shelters_digital['text'].forEach(function(text) { %>

        <% if ( text.type == 'text' ){ %>

          <p><%= text.value %></p>


        <% } else if ( text.type == 'infobox' ){  %>

          <%= t.include("partials/_infobox.html") %>


        <% } else if ( text.type == 'image' ){ %>

          <div class="<%= text.value[0].Width %>-img">
            <img src="./assets/photos/<%= text.value[0].Image %>.jpg">
            <div class="caption"><%= text.value[0].Caption %> <span class="byline"><%= text.value[0].Photographer %></span></div>
          </div>

        <% } else if (text.type == "map") { %>
            <div id="map-wrapper" class="interactive-wrapper">
              <% var title = text.value[0].Title.replace("**","<span class='bold boldColor'>").replace("*","</span>"); %>
              <div class="map-text">
                <%= title %>
                <div class="map-deck desktop-deck"><%= text.value[0].Deck %></div>
                <div class="map-deck mobile-deck"><%= text.value[0].DeckMobile %></div>
                </div>

              <div class="map" id="map"></div>
            </div>
        <% } else if ( text.type == 'grid' ){ %>

           <div class="grid">

          <% text.value.forEach(function(grid) { %>

           <div class="grid-img">
              <img src="./assets/photos/<%= grid.Image %>.jpg">
            </div>

          <% }); %>
          </div>

          <% } else if ( text.type == 'grid-caption' ){ %>

          <div class="grid-caption"><%= text.value[0].Text %> <span class="byline"><%= text.value[0].Photographer %></span></div>



        <% } else if ( text.type == 'grid-large' ){ %>

           <div class="grid-large">

          <% text.value.forEach(function(grid) { %>

           <div class="grid-img">
              <img src="./assets/photos/<%= grid.Image %>.jpg">
            </div>


          <% }); %>

          </div>

        <% } else if (text.type == "report") { %>

            <div class="report-title"><%= text.value[0].Text.replace("**","<span class='bold'>").replace("*","</span>") %></div>
            <div class="slideshow-wrapper">
              <div class="slideshow" data-flickity data-flickity-options='{ "imagesLoaded": true }'>
                 <div class="carousel-cell gray-bg">
                  <img src="<%= text.value[0].Report1Image %>"></img>
                  <div class="report-text"><%= text.value[0].Report1.replace("**","<span class='bold'>").replace("*","</span>") %></div>
                </div>
                <div class="carousel-cell gray-bg">
                 <img src="<%= text.value[0].Report2Image %>"></img>
                 <div class="report-text-right"><%= text.value[0].Report2.replace("**","<span class='bold'>").replace("*","</span>") %></div>
                </div>
                <div class="carousel-cell gray-bg">
                 <img src="<%= text.value[0].Report3Image %>"></img>
                 <div class="report-text"><%= text.value[0].Report3.replace("**","<span class='bold'>").replace("*","</span>") %></div>
                </div>
              </div>
            </div>

        <% } else if ( text.type == "interactive") { %>

          <div class="flex-wrapper">
            <% var text = text.value[0].Title.replace("**","<span class='bold'>").replace("*","</span>"); %>

            <div class="interactive" id="dots"></div>
            <div class="text flex-left"><%= text %></div>
          </div>

        <% } else if ( text.type == "icons") { %>

          <div class="interactive-wrapper">

            <div class="interactive-hed">Frequent Arrests, Few Charges Upheld at Mary Graham Children’s Shelter</div>
          <% text.value.forEach(function(slide,slideIDX) { %>

            <% console.log(slideIDX) %>

            <div id="slide-top-<%=slideIDX%>">

              <div class="slide fixed-height-slide">
                <% var text = slide["Text"].replace("**","<span class='bold'>").replace("*","</span>"); %>
                <div class="text flex-left"><%= text %></div>
                <div class="interactive sticky" id="<%= slide['Interactive'] %>"></div>
                <div id="stick-ph"></div>
              </div>

            </div>

          <% }); %>
          </div>

        <% } else if (text.type == "quote") { %>

          <div class="flex-wrapper">

            <div class="flex-img">
              <img src='./assets/photos/<%= text.value[0].Image %>.jpg'></img>
            </div>

            <div class="quote-container">
              <div class='quote'>
                <div class='huge-quote'>“</div>
                <span class="quote-text">
                  <%= text.value[0].Text %>
                  <span class='small-quote'> ”</span>
                  <div class='quote-author'>&mdash; <%= text.value[0].Author %></div>
                  </span>

              </div>
            </div>

          </div>


        <% } else if ( text.type == 'gif' ){ %>

           <div class="gif">
           <img src="./assets/gifs/<%= text.value[0].Title %>">
           </div>

        <% } else if ( text.type == 'video' ){ %>
         <div class="inline-img">
            <div class='embed-container'>
            <iframe src='http://player.vimeo.com/video/<%= text.value[0].ID %>' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="caption"><%= text.value[0].Caption %></div>
          </div>

        <% } else if ( text.type == 'slideshow' ){ %>

          <div class="slideshow" data-flickity data-flickity-options='{ "imagesLoaded": true }'>
            <% text.value.forEach(function(slide) { %>

             <div class="carousel-cell">
              <img src="./assets/photos/<%= slide.Image %>.jpg">
              <div class="caption"><%= slide.Caption %> <span class="byline"><%= slide.Photographer %></span></div>
            </div>

            <% }); %>

          </div>

        <% } %>

      <% }); %>

    </div>

    </div>

    <!-- <%= t.include("partials/_share.html") %> -->
    <%= t.include("partials/_about.html") %>
    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>
    <script>
      var mapData = <%= JSON.stringify(json.map) %>;
      var bubbleData = <%= JSON.stringify(json.arrests_aggregate) %>;
      var callsData = <%= JSON.stringify(json.calls_aggregate) %>;
      var MGData = <%= JSON.stringify(json.marygraham_short) %>;
      var slidesData = <%= JSON.stringify(json.foster_shelters_interactive_text_inline) %>
    </script>
    <script src="../app-story.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
