<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flickity@2/dist/flickity.css">

    <link rel="stylesheet" type="text/css" href="../style.css">

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet-src.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'><script type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="title-image"><img src="http://ww3.hdnux.com/photos/61/02/21/12854386/3/2000x2000.jpg"></img></div>

    <div class="title-container">
      <div class="title long"><%= json.foster_shelters_interactive_text_inline["interactive"][0]["Title"] %></div>
      <div class="authors"><%= json.foster_shelters_interactive_text_inline["interactive"][0]["Authors"] %></div>
      <div class="date"><%= json.foster_shelters_interactive_text_inline["interactive"][0]["Date"] %></div>
      <%= t.include("partials/_title_social.html") %>
    </div>

    <% json.foster_shelters_interactive_text_inline["slides"].forEach(function(slide,slideIDX) { %>

      <% if ( slideIDX == 0 ){ %>
        <div class="slide-top active" id="slide-top-<%=slideIDX%>">
      <% } else { %>
        <div class="slide-top" id="slide-top-<%=slideIDX%>">
      <% } %>

        <% if (slide["Interactive"]){ %>
          <% if ((slide["Interactive"] == "map") || (slide["Interactive"] == "map-v2") ){ %>
            <div class="slide map-slide">
          <% } else if (slide["Interactive"] == "audio"){ %>
            <div class="slide audio-slide">
          <% } else if (slide["Interactive"] == "quote"){ %>
            <div class="slide quote-slide">
          <% } else if (slide["Interactive"] == "report"){ %>
            <div class="slide report-slide">
          <% } else if (slide["Interactive"] == "photo"){ %>
            <div class="slide photo-slide">
          <% } else if (slide["Interactive"] == "gif"){ %>
            <div class="slide gif-slide">
          <% } else if (slide["Interactive"].slice(0,5) == "icons"){ %>
            <div class="slide fixed-height-slide">
          <% } else { %>
            <div class="slide static-interactive">
          <% } %>
        <% } else { %>
          <div class="slide text-slide">
        <% } %>

          <% if (slide["Interactive"] == "quote") { %>

            <% if (slide["Photo"]) { %>
              <div class="inline-img">
                <img src='<%= slide["Photo"] %>'></img>
              </div>
            <% } %>
            <div class='quote'>
              <div class='huge-quote'>“</div>
              <span class="quote-text"><%= slide["Text"] %><span class='small-quote'> ”</span></span>
              <div class='quote-author'>&mdash; <%= slide["Author"] %></div>
            </div>

          <% } else if (slide["Interactive"] == "audio") { %>

            <div class="text audio-text"><div><%= slide["Text"] %></div>
              <div class="soundcite" data-url="../assets/audio/MG_Dispatch.wav" data-start="0" data-end="164000" data-plays="1"><i class="fa fa-volume-up" aria-hidden="true"></i> Listen to a call from April 26, 2017</div>
            </div>
            <div class="inline-img">
              <img src='<%= slide["Photo"] %>'></img>
            </div>
            </div>

          <% } else if (slide["Interactive"] == "gif") { %>

            <div class="text gif-text"><%= slide["Text"].replace("**","<span class='bold'>").replace("*","</span>").replace("**","<span class='bold'>").replace("*","</span>") %></div>
            <div class="inline-img flex-right">
              <img src='<%= slide["Photo"] %>'></img>
            </div>
            </div>

          <% } else if (slide["Interactive"] == "report") { %>

            <div class="text"><%= slide["Text"].replace("**","<span class='bold'>").replace("*","</span>") %></div>
            <div class="slideshow" data-flickity data-flickity-options='{ "imagesLoaded": true }'>
               <div class="carousel-cell gray-bg">
                <img src="<%= slide['Report1Image'] %>"></img>
                <div class="report-text"><%= slide["Report1"].replace("**","<span class='bold'>").replace("*","</span>") %></div>
              </div>
              <div class="carousel-cell gray-bg">
               <img src="<%= slide['Report2Image'] %>"></img>
               <div class="report-text"><%= slide["Report2"].replace("**","<span class='bold'>").replace("*","</span>") %></div>
              </div>
            </div>

          <% } else if (slide["Interactive"] == "photo") { %>

            <div class="text"><%= slide["Text"].replace("**","<span class='bold'>").replace("*","</span>") %></div>
            <div class="inline-img">
              <img src='<%= slide["Photo"] %>'></img>
            </div>

          <% } else if ((slide["Interactive"] == "map") || (slide["Interactive"] == "map-v2")) { %>

            <% var text = slide["Text"].replace("**","<span class='bold'>").replace("*","</span>"); %>
            <div class="text float-left"><%= text %></div>

          <% } else if (slide["Interactive"]) { %>

            <% var text = slide["Text"].replace("**","<span class='bold'>").replace("*","</span>"); %>
            <div class="text flex-left"><%= text %></div>

          <% } else { %>

            <% var text = slide["Text"].replace("**","<span class='bold'>").replace("*","</span>"); %>
            <div class="text"><%= text %></div>

          <% } %>

          <% if (slide["Interactive"]) { %>
            <% if (slide["Interactive"] == "map") { %>
              <div class="map <%= slide['Interactive'] %>" id="<%= slide['Interactive'] %>"></div>
            <% } else if ( slide["Interactive"].slice(0,5) == "icons" ) { %>
              <div class="interactive sticky" id="<%= slide['Interactive'] %>"></div>
              <div id="stick-ph"></div>
            <% } else { %>
              <div class="interactive" id="<%= slide['Interactive'] %>"></div>
            <% } %>
          <% } %>

        </div>
      </div>

    <% }); %>


    <div class="divider"></div>
    <div class="credits">
      <h2>Behind the investigation</h2>
      <div class="entry"><%= json.foster_shelters_interactive_text_inline["data"][0]["Text"] %></div>
      <div class="page-link"><a href="../about-the-data/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Read more here</a></div>
    </div>

    <div class="divider"></div>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>

    <script>
      var mapData = <%= JSON.stringify(json.map) %>;
      var bubbleData = <%= JSON.stringify(json.arrests_aggregate) %>;
      var callsData = <%= JSON.stringify(json.calls_aggregate) %>;
      var MGData = <%= JSON.stringify(json.marygraham_short) %>;
      var slidesData = <%= JSON.stringify(json.foster_shelters_interactive_text_inline) %>
    </script>

    <script src="../app-interactive.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
